*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.studentList{
    width: 800px;
    margin: 50px auto;
    background: #3498db;
}
.studentList .student{
    padding: 20px;
    border-bottom: 1px solid;
    color: #fff;
    font-size: 22px;
}
.studentList .student span{
    width: 90%;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
}
.studentList .formAdd{
    width: 75%;
    margin: 0 auto;
}
.studentList .formAdd input{
    width: 100%;
    padding: 15px;
    margin: 5px ;
    font-size: 20px;
    border: none;
    border-radius: 15px;
}
.studentList .formEdit{
    width: 50%;
}
.studentList .formEdit input{
    width: 100%;
    padding:  10px;
    border: none;
    margin: 3px 0px 3px 10px;
    font-size: 18px;
}
.studentList .fourButton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 35px 0px;
}
.studentList .fourButton button {
    width: 150px;
    padding: 10px 5px;
    border: none;
    font-size: 15px;
    background: #1abc9c;
    color: #fff;
}